
 html{
    height: 100vh;
    position: relative;
 }
 html::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
 }
body{
   background-image: url(../img/repairs/FONDO\ REPAIRS.png);
}
 .poppins-extralight {
   font-family: "Poppins", sans-serif;
   font-weight: 200;
   font-style: normal;
   }
   * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     font-family: 'Poppins';
     }
 .form-register{
    width: 400px;
    background-color: var(--third-color);
    padding: 30px;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    z-index: 2;
    position: relative;
 }
 .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;

 }
 .btn-submit{
   display: block;
   width: 100px;
   height: 50px;
   background-color: var(--fifth-color);
   color: var(--second-color);
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   font-size: 20px;
   border-radius: 10%;
   transition: ease 0.3s;
 }
 .btn-submit:hover{
   background-color: var(--second-color);
   color: var(--white-color);
 }
 .controls{
    width: 100%;
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: 1px solid var(--fourth-color);
 }
 .form-register .button{
    background-color: var(--second-color);
    transition: ease 0.3s;
 }
 .button{
   background-color: var(--fifth-color)!important;
 }
 .button:hover{
    transform: scale(1.1);
 }
 .footer{
   position: relative;
   z-index: 5;
   height: 50vh;
 }
 @media(max-width:700px){

 }