
.logos-img-chi{
    width: 143.5px;
    height: 45px;
}
.logos-img-gds{
    width: 234.5px;
    height: 45px;
}
.logos-img-haas{
    width: 97px;
    height: 45px;
}
.logos-img-lift{
    width: 190.5px;
    height: 27.5px;
    position: relative;
    top: 9px;
}
.logos-img-raynor{
    width: 187.5px;
    height: 45px;
}
.logos-companies{
    padding: 25px 0;
}
.ocultar{
    width: 100%;
}
#logos-companies{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
@media(max-width:900px){
    .logos-companies{
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    #logos-companies{
        width: 250%;
        display: flex;
        position: relative;

    }
    .logs{
        padding: 0 20px; 
    }
    .logos-img-gds{
        width: 234.5px;
        height: 45px;
    }
    #logos-companies div{
        overflow: hidden;
        cursor: pointer;
    }
}