/* MOBILE */
@media(min-width:698px){
    #panel30 button{
        position: relative;
        display: inline-block;
    }
}

/* DESKTOP */
@media (max-width:698px){
    #panel30 button{
        width: 100%;
        text-align: center;
    }
}
.grid-panel2{
    margin: .5rem 0;
}
#panel30 button{
    display: block;
    border:none;
    overflow: hidden;
    position: relative;
    padding: 0;
    width: 49%;
    margin: .5rem 0;
}
.custom-gap{
    gap: 1rem;
}
#panel30 img{
    display: block;
    width: 100%;
    height: auto;
    transition: transform .3s ease;
}

#panel30 button:hover img{
    transform: scale(1.25);
}
#panel30 button:before{
    background-color: var(--second-color);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: opacity .3s ease;
    width: 100%;
    z-index: 1;
}
#panel30 button:hover:before {
    opacity: .75;
}

#panel30 h4 {
    bottom: 0;
    color: var(--fifth-color);
    display: block;
    left: 50%;
    margin: 0;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, 50%);
    transition: bottom .3s ease, opacity .3s ease;
    z-index: 2;
}

#panel30 button:hover h4 {
    bottom: 50%;
    opacity: 1;
}

#panel30 button:after {
    content: "";
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translate(-40%, -50%);
    transition: top .3s ease, opacity .3s ease;
    width: 50%;
    z-index: 2;
}
#panel30 button:hover:after {
    opacity: .75;
    top: 40%
}
