.background-third-panel{
    background-image: white;
    width: auto;
    height: 40vh;
    border: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
#panel3{
    display: flex;
    width: 150%;
    height: 40vh;
}
#panel3 button{
    display: block;
    width: 33%;;
    max-height: 50vh;
    margin: 0 .5rem;
    border: 10px;
    border-radius: 5px;
}
#panel3 img{
    width: 100%;
    height: 40vh;
    border-radius: 15px;

}
.panel3-img3{
    opacity: 0.2;
}
.iconos-left,
.iconos-right{
    display: flex;
    position: relative;
    display: block;
    font-size: xx-large;
    opacity: 0.8;
    background-color: transparent;
    font-weight:700;
    cursor: pointer;
    border: none;

}
.iconos-left{
    left: 2%;
}
.iconos-right{
    left: -2%;
}