.background-first-panel{
    background-image: url(../img/logos/imgs-de-prueba/house-1836070_1280.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
    color: white;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items:center;
}
hr{
    color: white;
}
body{
    background-color:#f7fafa ;
}
.text-panel1{
    display: block;
    text-shadow: 2px 3px 5px black;
    transition: all ease .3s;
    color: var(--first-color);
}