.residential-1-img{
    width: 100%;
    height: 100%;
}
.residencial-img-galeria{
    width: 300px;
    height: 300px;
}#Residential{
    padding: 100px;
}
.primera-parte{
    margin-bottom: 100px;
}
.segunda-parte{
    gap: 100px;
    margin: 25px 0;
}
